$btn-width: 160;
$btn-height: 60;
$particles: 25;
$particle-width: 20;

html {
  background-color: #ffffff;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    button {
      width: #{$btn-width}px;
      height: #{$btn-height}px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      position: relative;
      overflow: hidden;
      padding: 0;
      &.cus-btn--ripple {
      }
      &.cus-btn--outline {
        position: relative;
        svg {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          rect {
            stroke: rgb(255, 187, 0);
            stroke-width: 4;
            stroke-dasharray: 4, 6;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover {
          svg {
            rect {
              stroke: rgb(255, 187, 0);
              stroke-dasharray: 16, 6;
            }
          }
        }
        &:active {
          svg {
            rect {
              stroke-dasharray: 4, 6;
              transition: all 0.1s ease-in-out;
            }
          }
        }
      }
      &.cus-btn--rotate {
        font-size: 16px;
        background-color: transparent;
        overflow: visible;
        &:hover {
          .btn-rotate--box {
            transform: rotateX(-90deg);
          }
        }
        .btn-rotate--box {
          pointer-events: none;
          position: relative;
          transform-style: preserve-3d;
          transition: all 0.3s ease;
          transform-origin: center center;
          transform: rotateX(0deg);
          height: 100%;
          width: 100%;
          div {
            position: absolute;
            inset: 0;
            height: 100%;
            line-height: $btn-height + 0px;
            width: 100%;
          }
          .btn-rotate--title {
            background-color: #21d4fd;
            background-image: linear-gradient(
              19deg,
              #21d4fd 0%,
              #b721ff 100%
            );

            span {
              font-size: 12px;
            }
            transform: translateZ(
              $btn-height * 0.5px
            );
          }
          .btn-rotate--subtitle {
            background-color: #00dbde;
            background-image: linear-gradient(
              90deg,
              #00dbde 0%,
              #fc00ff 100%
            );

            transform-origin: top center;
            transform: rotateX(90deg)
              translateY(-$btn-height * 0.5px);
          }
        }
      }
      &.cus-btn--boom {
        overflow: visible;
        position: relative;
        background-image: linear-gradient(
          135deg,
          #fdd819 10%,
          #e80505 100%
        );
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          inset: 0;
          background-color: rgb(255, 221, 0);
          transform: scale(1);
          transition: all 0.1s ease;
        }
        &::after {
          content: '';
          position: absolute;
          z-index: -2;
          inset: 0;
          background-color: rgb(255, 250, 96);
          transform: scale(1);
          transition: all 0.1s ease;
        }
        &:active::before {
          transform: scale(1.2);
          background-image: linear-gradient(
            135deg,
            #fd6e6a 10%,
            #ffc600 100%
          );
        }
        &:active::after {
          transform: scale(1.4);
          background-image: linear-gradient(
            135deg,
            #f6d242 10%,
            #ff52e5 100%
          );
        }
      }
      &.cus-btn--lightning {
        overflow: visible;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          right: 100%;
          top: 0;
          width: 300%;
          height: 100%;
          transition: all 0.3s ease;
          background-image: linear-gradient(
            135deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 1) 60%,
            transparent 100%
          );
        }
        &:hover::after {
          right: -300%;
        }
      }
      &.cus-btn--outlinescale {
        outline: 4px solid #b721ff;
        transition: all 0.2s ease;
        position: relative;
        overflow: visible;
        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
        &::before {
          z-index: -1;
          outline: 4px solid #e1a0ff;
          transition: all 0.2s ease 0.1s;
        }
        &::after {
          z-index: -2;
          outline: 4px solid #edc7ff;
          transition: all 0.2s ease 0.1s;
        }
        &:hover {
          outline: 20px solid #b921ff00;
          &::before {
            outline: 30px solid #c446ff00;
          }
          &::after {
            outline: 40px solid #e4abff00;
          }
        }
      }
      &.cus-btn--rise {
        transition: all 0.3s ease;
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0px 10px 10px 0px #b4b4b4;
        }
      }
      &.cus-btn--fill {
        background-color: transparent;
        outline: 1px solid #000;
        color: #000;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          background-color: #000;
          z-index: -1;
          inset: 0;
          top: 100%;
          transition: all 0.3s ease;
        }
        &:hover {
          color: #fff;
          &:before {
            top: 0%;
          }
        }
      }
      &.cus-btn--colorful {
        background-color: #00dbde;
        background-image: linear-gradient(
          90deg,
          #00dbde 0%,
          #fc00ff 23%,
          #ff006a 43%,
          #ff5b4f 65%,
          #ff8900 76%,
          #fffc00 100%
        );
        overflow: visible;
        background-repeat: repeat;
        background-position: left;
        background-size: 600% 100%;
        transition: all 0.5s ease;
        &:hover {
          background-position: right;
        }
      }
      &.cus-btn--particle {
        position: relative;
        overflow: visible;
        border: none;
        color: #fff;
        background-color: rgb(212, 73, 73);
        cursor: pointer;
        &:active {
          animation: 2s btn-particle-anim ease;
        }
        .text {
          position: absolute;
          line-height: $btn-height + 0px;
          width: $btn-width + 0px;
          left: 0;
          top: 0;
        }
        .btn-particle {
          position: absolute;
          inset: 0;
          left: 100%;
          width: 100px;
          height: $btn-height + 0px;
          .particle {
            position: absolute;
            width: 2px;
            height: $particle-width + 0px;
            background-color: rgb(212, 73, 73);
            opacity: 0;
          }
        }
      }
    }
  }
}
@for $i from 1 through $btn-height {
  $left: $btn-height / $particle-width;
  .cus-btn--particle {
    .particle:nth-of-type(#{$i}) {
      top: $particle-width * ($i % $left) + 0px;
    }
  }
}

@for $i from 1 through $particles {
  .cus-btn--particle:active {
    .particle:nth-of-type(#{$i}) {
      animation: 0.4s
        particleAnimation-#{$i}
        infinite;
      animation-delay: #{random(100) / 100}s;
    }
  }
}
@for $i from 1 through $particles {
  @keyframes particleAnimation-#{$i} {
    $animateX: calc(100px + #{random(100)}px);
    $animateY: calc(
      #{random(50)}px + -#{random(50)}px
    );
    0% {
      transform: translate(0px, 0px);
      opacity: 0;
    }
    5% {
      transform: translate(0px, 0px)
        rotateX(30deg);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translate($animateX, $animateY)
        rotateX(120deg);
      opacity: 0;
    }
  }
}

@keyframes btn-particle-anim {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.cus-ripple {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.344);
  animation: ripple 0.5s ease;
}
@keyframes ripple {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(200);
  }
}
