html {
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji' !important;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 3rem;
  max-width: 640px!important;
  /* min-width: 600px !important; */
}


@media (min-width: 640px) {
  #root {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  #root {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  #root {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  #root {
    max-width: 1536px;
  }
}