body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    height: 200px;
    // border: 1px solid;
    .input-box {
      position: relative;
      font-size: 24px;
      input {
        border-radius: 15px 0 0 15px;
        font-size: inherit;
        color: #fff;
        height: 3em;
        display: inline-block;
        box-sizing: border-box;
        background: rgb(0, 0, 0);
        border: none;
        transition: width 0.3s ease,
          border-radius 0.3s ease 0.5s;
        padding: 0;
        width: 0;
        &:focus {
          outline: none;
        }
        &.cus-input--active {
          width: 400px;
          padding: 0.5em 1em;
        }
        &.cus-input--active + button.cus-btn {
          border-radius: 0 15px 15px 0;
          transition: border-radius 0s ease;
        }
      }
      button {
        border-radius: 50%;
        transition: border-radius 0.3s ease 0.2s;
        cursor: pointer;
        border: none;
        position: absolute;
        top: 0;
        display: inline-block;
        height: 100%;
        font-size: inherit;
        height: 3em;
        width: 3em;
        background-color: rgb(0, 0, 0);
        &:hover {
          background-color: rgb(29, 29, 29);
        }
        &:active {
          background-color: rgb(48, 48, 48);
        }
        svg {
          fill: rgb(255, 255, 255);
          height: 1em;
        }
      }
    }
  }
}
