:root {
  font-size: 15px;
}
body {
  font-family: Helvetica;
  background-color: #efefef;
}
#container {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  width: 500px;
  overflow: hidden;
  border-radius: 8px;
}
#content {
  height: 600px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #333;
  padding: 20px 30px;
}

p {
  margin-bottom: 30px;
}

#read-more {
  display: none;
}

/* 阅读更多 */
#read-more + label {
  /* 透明过渡区域 */
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(360deg, #fff 5%, transparent 100%);
}
#read-more + label::after {
  content: "Read More";
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  font-size: 1.2rem;
  padding: 8px 16px;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
/* 折叠 */
#read-more + label::before {
  content: " ";
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translateX(-50%);
  background-image: url(data:image/svg+xml,%3Csvg%20t%3D%221662256492453%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%227338%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cpath%20d%3D%22M887.328%20617.152%20533.952%20267.008c-0.512-0.512-1.216-0.672-1.76-1.152-0.128-0.128-0.16-0.32-0.288-0.448-12.576-12.416-32.832-12.352-45.28%200.192L136.512%20618.944c-12.448%2012.576-12.352%2032.8%200.192%2045.248%206.24%206.176%2014.4%209.28%2022.528%209.28%208.224%200%2016.48-3.168%2022.72-9.472l327.84-330.816%20332.48%20329.408c6.24%206.176%2014.368%209.28%2022.528%209.28%208.256%200%2016.48-3.168%2022.72-9.472C899.968%20649.856%20899.872%20629.6%20887.328%20617.152z%22%20p-id%3D%227339%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 点击阅读更多 (checked) 将文字内容高度设定为 auto 以展开内容*/ 
#read-more:checked ~ #content {
  height: auto;
}
/*  当点击阅读更多之后, checkbox 状态为 unchecked, 此时,减少透明过渡区域的高度,以容纳折叠 按钮 */
#read-more:checked + label {
  height: 30px;
}

/* 阅读更多,点击后,即刻隐藏 "Read More" 按钮 */ 
#read-more:checked + label::after {
  display: none;
}

/* 阅读更多,点击后,即刻显示 "折叠" 按钮 */ 
#read-more:checked + label::before {
  display: inline-block;
}


/* 解决点击透明过渡区域,也会handle点击事件的问题 */
#read-more + label{
  pointer-events:none; /*此时所有点击事件失效*/
}

#read-more + label::after,#read-more + label::before{
  cursor:pointer;
  pointer-events:auto; /*仅在伪类元素生效点击事件*/
}



/* 
如何让高度变化有动画效果?

#content{
- height:600px;
+ max-height:600px;
+ transition: max-height .3s ease-in-out;
}

#read-more:checked ~ #content {
  height: auto;
+ max-height:9999px;
}

因为 CSS 无法支持 height 属性的transition 过渡动画, 但是支持 max/min-height
*/