$header-height: 3rem;
#app {
  header {
    height: $header-height;
  }
  main {
    height: calc(100vh - $header-height);
    display: flex;
    bookmark-aside {
      overflow: auto;
      min-width: 256px;
      max-width: 40%;
    }
    #split-bar {
      width: 15px;
      cursor: w-resize;
    }
    .splitter-active {
      border-left: 1px solid #939393;
    }
    .main-content {
      flex: 1;
    }
  }
}
