body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    user-select: none;
    display: flex;
    gap: 1rem;
    .switcher {
      label {
        display: block;
        width: 100px;
        height: 48px;
        background-color: #dedede;
        box-shadow: inset 0px 0px 14px 1px #cccccc;
        border-radius: 50px;
        position: relative;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        .ball {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 50px;
          position: absolute;
          left: 4px;
          transition: all 0.3s ease-in-out;
          &.unchecked {
            animation: unchecked 0.3s ease-in-out;
          }
          &.checked {
            animation: checked 0.3s ease-in-out;
          }
        }
      }
      input {
        display: none;
        &:checked + label {
          background-color: rgb(64, 215, 135);
          box-shadow: inset 0px 0px 14px 1px
            #29c071;
          .ball {
            left: calc(100% - 44px);
          }
        }
      }
    }
  }
}

@keyframes checked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes unchecked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
