body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: SF Pro SC, SF Pro Text,
    SF Pro Icons, PingFang SC, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  .title {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .container {
    width: 100vw;
    height: 42rem;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 8%);
    $colornav-height: 4rem;
    overflow: hidden;
    .colornav {
      padding-right: 1rem;
      height: $colornav-height;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .indicator {
        margin-right: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
      }
      ul {
        li {
          display: inline-block;
          input {
            display: none;
          }
          input.active + label {
            outline: 2px solid #0071e3;
          }
          label {
            cursor: pointer;
            user-select: none;
            margin-left: 0.5rem;
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            text-align: center;
            span {
              display: inline-block;
              margin-top: 0.1rem;
              width: 1.8rem;
              height: 1.8rem;
              border-radius: 50%;
            }
            .color-switch-midnight {
              background-color: #31353a;
            }
            .color-switch-starlight {
              background-color: #f0ece8;
            }
            .color-switch-red {
              background-color: #e11c2a;
            }
            .color-switch-blue {
              background-color: #c0cfde;
            }
            .color-switch-purple {
              background-color: #e7d7e9;
            }
            .color-switch-yellow {
              background-color: #f5e488;
            }
          }
        }
      }
    }
    .iphone14-wrapper {
      transition: transform 1s
        cubic-bezier(0.65, 0.05, 0.36, 1);
      pointer-events: none;
      position: relative;
      width: 1144px;
      height: calc(100% - #{$colornav-height});
      left: 50%;
      transform-origin: 50% 50%;
      transform: translateX(-50%);
      animation: entryAnimate 2s
        cubic-bezier(0.65, 0.05, 0.36, 1);
      transform: matrix(
        1.04327,
        -0.464493,
        0.464493,
        1.04327,
        -768.586,
        130.872
      );
      figure {
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        position: absolute;
        transform-origin: 0 0;
        transition: transform 1s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        &.color-midnight.active {
          transform: translate(
              -2.9681683365%,
              -1.8547174248%
            )
            scale(0.527) !important;
        }
        &.color-midnight {
          left: 8px;
          top: 233px;
          background-image: url(./assets/black.jpg);
          -webkit-mask-image: url(./assets/midnight_mask.png);
          -webkit-mask-size: 532px 562px;
          width: 532px;
          height: 562px;
          background-size: 532px 562px;
          transform: matrix(
            0.51,
            0,
            0,
            0.51,
            0,
            0
          );
          opacity: 1;
        }
        &.color-starlight.active {
          transform: translate(
              -2.2962066015%,
              -2.6414835308%
            )
            scale(0.54) !important;
        }
        &.color-starlight {
          left: 111px;
          top: 118px;
          width: 518px;
          height: 582px;
          background-size: 518px 582px;
          background-image: url(./assets/white.jpg);
          -webkit-mask-image: url(./assets/starlight_mask.png);
          -webkit-mask-size: 532px 562px;
          transform: matrix(
            0.52,
            0,
            0,
            0.52,
            0,
            0
          );
          opacity: 1;
        }
        &.color-red.active {
          transform: translate(
              -2.2497566339%,
              -2.6811555509%
            )
            scale(0.54) !important;
        }
        &.color-red {
          left: 259px;
          top: 49px;
          width: 450px;
          height: 568px;
          background-size: 450px 568px;
          background-image: url(./assets/red.jpg);
          -webkit-mask-image: url(./assets/red_mask.png);
          -webkit-mask-size: 450px 568px;
          transform: matrix(
            0.54,
            0,
            0,
            0.54,
            0,
            0
          );
          opacity: 1;
        }
        &.color-blue.active {
          transform: translate(
              -0.4871058534%,
              -3.4659382406%
            )
            scale(0.59) !important;
        }
        &.color-blue {
          left: 437px;
          top: 22px;

          width: 366px;
          height: 578px;
          background-size: 366px 578px;

          background-image: url(./assets/lightblue.jpg);
          -webkit-mask-image: url(./assets/blue_mask.png);
          -webkit-mask-size: 366px 578px;
          transform: matrix(
            0.573,
            0,
            0,
            0.573,
            0,
            0
          );
          opacity: 1;
        }
        &.color-purple.active {
          transform: translate(
              -0.4871058534%,
              -3.4659382406%
            )
            scale(0.683) !important;
        }
        &.color-purple {
          left: 629px;
          top: 18px;
          width: 336px;
          height: 620px;
          background-size: 336px 620px;
          background-image: url(./assets/lightpurple.jpg);
          -webkit-mask-image: url(./assets/purple_mask.png);
          -webkit-mask-size: 336px 620px;
          transform: matrix(
            0.67,
            0,
            0,
            0.67,
            0,
            0
          );
          opacity: 1;
        }
        &.color-yellow.active {
          transform: translate(
              0.6077686218%,
              -3.4468271355%
            )
            scale(0.88) !important;
        }
        &.color-yellow {
          left: 781px;
          top: 68px;
          width: 428px;
          height: 616px;
          background-size: 336px 620px;
          background-image: url(./assets/yellow.jpg);
          -webkit-mask-image: url(./assets/yellow_mask.png);
          -webkit-mask-size: 336px 620px;

          transform: matrix(
            0.86,
            0,
            0,
            0.86,
            0,
            0
          );
          opacity: 1;
        }
      }
    }
  }
}

@keyframes entryAnimate {
  0% {
    transform: matrix(1, 0, 0, 1, -574, 17);
    opacity: 0;
  }
  50% {
    transform: matrix(1, 0, 0, 1, -574, 0);
  }
  100% {
    opacity: 1;

    transform: matrix(
      1.04327,
      -0.464493,
      0.464493,
      1.04327,
      -768.586,
      130.872
    );
  }
}
